{% extends 'master.html' %}
{% block titulo %} Recomendación de películas para un usuario {% endblock %}	    
{% block contenido %} 

    <h4>Películas recomendadas:</h4>
    <ul>
        {% for pelicula in peliculas %}
            <li>
                <strong>{{ pelicula.titulo }}</strong> - Promedio de puntuación: 
                {% for p in peliculas_recomendadas %}
                    {% if p.idPelicula == pelicula.idPelicula %}
                        {{ p.promedio_puntuacion }}
                    {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}